.nav {
    margin: 20px auto 0;
    text-align: start;
    background-color: #5e5282;
    border-radius: 8px;
  }
  .link {
    display: inline-block;
    padding: 15px 20px;
    font-weight: 600;
    color: rgb(238, 22, 235);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.activeLink {
    color: #9d09f3cb;
  }