.header {
    min-height: 40px;
  }
  .nav {
    margin: 20px auto 0;
    text-align: start;
    background-image: repeating-linear-gradient(
      -45deg,
      #606dbc,
      #606dbc 15px,
      #465298 15px,
      #465298 30px
    );
    border-radius: 8px;
  }
  .link {
    display: inline-block;
    padding: 15px 20px;
    font-weight: 600;
    color: rgb(254, 254, 254);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.activeLink {
    color: #9d09f3cb;
  }